<link rel="stylesheet" href="/css/landing.css">

<div id="pane">
    <div>
        <img src="../../public/images/adtel.jpg" />
    <div>

    <h4>Adtelligent Course Management System</h4>

    <div class="formgroup">
        <input type="text" placeholder="Email" id="email" />
        <input type="password" placeholder="Password" id="password" />
    </div>
</div>