 <!DOCTYPE html>
 <html lang="en">

     <head>
         <meta charset="UTF-8">
         <meta name='viewport' content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA_Compatible" content="ie=edge">
         <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
         <link rel="stylesheet" href="../layout.css"/>
         <title>Adtelligent-CMS</title>
     </head>

     <body>
         <script src="/bootstrap/dist/jquery/jquery.js"></script>
         <header class="">

         </header>




     </body>
 </html>